<div class="container">
    <div class="row content-spacing">
        <div class="col-md-3">
            <h5>Page links</h5>
            <hr class="border-light" />
            <ul class="list-unstyled">
                <li class="list-item"><a class="text-light" href="{{ url_for('index') }}">Home</a></li>
                <li class="list-item"><a class="text-light" href="{{ url_for('profile') }}">Profile</a></li>
                <li class="list-item"><a class="text-light" href="#">Team</a></li>
                <li class="list-item"><a class="text-light" href="{{ url_for('index') }}">Draft</a></li>
                <li class="list-item"><a class="text-light" href="{{ url_for('players') }}">Players</a></li>
            </ul>
        </div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
        <div class="col-md-3"></div>
    </div>
</div>