{% extends 'layout.html' %}

{% block content %}
<h3>
    Home
</h3>
<hr />
    <div class="container">
        <div>
            <div> 
                <p class="col-md-7">
                    Welcome to my fantasy football draft web application.
                    In this program you will be able to do things such as search through data,
                    compare statistics, and draft the team of your dreams.
                    In fantasy football, statistics and strategy are your best friend or your worst enemy; 
                    so make sure to choose your players wisely or this may be a long season.
                </p>
            </div>
        
        </div>
    </div>
<hr />

{% endblock content %}